<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-10">
        <ol>
            <li>
                <h2>Universidad de Buenos Aires - Facultad de Agronomía</h2> - <h3>(years)</h3>
                <h3>Ingeniero Agrónomo</h3>
                <h4>Estado Incompleto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem atque est laboriosam? Praesentium,
                    reiciendis illum nam expedita quaerat, animi temporibus eligendi non perferendis similique a, fugiat
                    incidunt hic ut? Quod!</p>
            </li>
            <li>
                <h2>Escuela Agrotécnica Salesiana</h2> - <h3>(years)</h3>
                <h3>Bachiller Técnico Ganadero</h3>
                <h4>Estado completo</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem atque est laboriosam? Praesentium,
                    reiciendis illum nam expedita quaerat, animi temporibus eligendi non perferendis similique a, fugiat
                    incidunt hic ut? Quod!</p>
            </li>
            <li>
                <h2>Escuela N° 20</h2> - <h3>(years)</h3>
                <h4>Estado completo</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem atque est laboriosam? Praesentium,
                    reiciendis illum nam expedita quaerat, animi temporibus eligendi non perferendis similique a, fugiat
                    incidunt hic ut? Quod!</p>
            </li>
        </ol>
    </div>
</div>
