        <a href="https://www.facebook.com/danelrenegau"><img src="../../../../assets/facebook.png" class="img-fluid"
                alt="facebook" id="rs"></a>
        <a href="https://www.instagram.com/danper_ar/"><img src="../../../../assets/instagram.png" class="img-fluid"
                alt="instagram" id="rs"></a>
        <a href="https://www.linkedin.com/in/danpertdf/"><img src="../../../../assets/linkedin.png" class="img-fluid"
                alt="linkedin" id="rs"></a>
        <a href=""><img src="../../../../assets/github.png" class="img-fluid" alt="github" id="rs"></a>
        <a href="https://twitter.com/Dan85747137"><img src="../../../../assets/twitter.png" class="img-fluid"
                alt="twitter" id="rs"></a>