<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-10" id="trabajo">
        <ol>
            <li id="itemList">
                <h2>Brightstar Fueguina SA</h2> - <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem atque est laboriosam? Praesentium,
                    reiciendis illum nam expedita quaerat, animi temporibus eligendi non perferendis similique a, fugiat
                    incidunt hic ut? Quod!</p>
            </li>
            <li id="itemList">
                <h2>Grupo Mirgor</h2> - <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem atque est laboriosam? Praesentium,
                    reiciendis illum nam expedita quaerat, animi temporibus eligendi non perferendis similique a, fugiat
                    incidunt hic ut? Quod!</p>
            </li>
            <li id="itemList">
                <h2>Klefman</h2> - <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem atque est laboriosam? Praesentium,
                    reiciendis illum nam expedita quaerat, animi temporibus eligendi non perferendis similique a, fugiat
                    incidunt hic ut? Quod!</p>
            </li>
        </ol>
    </div>
</div>