<div class="container-fluid">
    <div class="row">
        <img src="" class="img-fluid" id="foto_perfil">
    </div>
    <div id="nombre">
        <h2 id="nombre">{{persona.nombre}} {{persona.apellido}}</h2>
        <h3 id="dedicacion">Full Stack Developer Trainee</h3>
    </div>
    <br>
    <div col="*-*" id="descripcion">
        <span>
            <h2>Acerca de mí</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga eligendi minus maiores odit, esse ipsa
                eveniet nobis repellat deleniti suscipit? Ipsa alias itaque ducimus modi quod asperiores dolor
                dignissimos quam?</p>
        </span>
    </div>
</div>