<div class="container-fluid">
    <div class="col-lg-2">
        <button type="button" class="btn btn-secondary" routerLink="/editacercade/id" *ngIf="isLogged">
            EDITAR
        </button>
    </div>
    
    
    <div class="row">
    <img src={{persona.img}} class="img-fluid" id="foto_perfil">
    </div>
    <div id="nombre">
        <h2 id="nombre">{{persona.nombre}} {{persona.apellido}}</h2>
        <h3 id="dedicacion">Full Stack Developer Trainee</h3>
    </div>
    <br>
    <div col="*-*" id="descripcion">
        <span>
            <h2>Acerca de mí</h2>
            <p>{{persona.descripcion}</p>
        </span>
    </div>
</div>