<div class="container">
    <div class="row">
        <img src="" class="img-fluid" id="foto_perfil">
    </div>
    <div>
        <h2 id="nombre">PEREIRA FRESONE, Dan Leandro</h2>
        <h3 id="dedicacion">Full Stack Seveloper Trainee</h3>
    </div>
    <br>
    <div>
        <span>
            <h2>Acerca de mí</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga eligendi minus maiores odit, esse ipsa
                eveniet nobis repellat deleniti suscipit? Ipsa alias itaque ducimus modi quod asperiores dolor
                dignissimos quam?</p>
        </span>
    </div>
</div>